<section class="hero">
  <h2 class="hero_heading">Heading</h2>
  <p class="hero_copy" >Something</p>

</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "header",
        "content":"Hero"
      }
    ],
    "presets":[
      {
        "name":"Hero",
        "category":"Custom"
      }
    ]
  }
{% endschema %}